![Imgur](https://i.imgur.com/5pXzCIu.png)

# Data Science va Sun'iy Intellekt Praktikum

## Ma'lumotlar tahlili. Pandas kutubxonasi.

### PANDAS. Yakuniy vazifa. **1-QISM**

In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population.csv", index_col=0)
df

               country     density   densityMi   pop2021     area
rank
1                Macau  21946.4667  56841.3487   658.394       30
2               Monaco  19755.5000  51166.7450    39.511        2
3            Singapore   8305.1915  21510.4461  5896.686      710
4            Hong Kong   6841.3134  17719.0017  7552.810     1104
5            Gibraltar   5616.3333  14546.3033    33.698        6
...                ...         ...         ...       ...      ...
228            Namibia      3.1338      8.1166  2587.344   825615
229     Western Sahara      2.3003      5.9577   611.875   266000
230           Mongolia      2.1286      5.5129  3329.289  1564110
231   Falkland Islands      0.2902      0.7517     3.533    12173
232          Greenland      0.0263      0.0680    56.877  2166086

[232 rows x 5 columns]

### 1-VAZIFA. Yuqoridagi DF ustunlari nomini quyidagi qiymatlarga o'zgartiring va DF yuqorisidan 3 ta davlatni chiqaring
`['davlat','zichlik_km','zichlik_mi','aholi','maydoni']`

In [3]:
# JAVOBNI SHUYERGA YOZING
qiymat = ['davlat','zichlik_km','zichlik_mi','aholi','maydoni']
df.columns = qiymat
df

                davlat  zichlik_km  zichlik_mi     aholi  maydoni
rank
1                Macau  21946.4667  56841.3487   658.394       30
2               Monaco  19755.5000  51166.7450    39.511        2
3            Singapore   8305.1915  21510.4461  5896.686      710
4            Hong Kong   6841.3134  17719.0017  7552.810     1104
5            Gibraltar   5616.3333  14546.3033    33.698        6
...                ...         ...         ...       ...      ...
228            Namibia      3.1338      8.1166  2587.344   825615
229     Western Sahara      2.3003      5.9577   611.875   266000
230           Mongolia      2.1286      5.5129  3329.289  1564110
231   Falkland Islands      0.2902      0.7517     3.533    12173
232          Greenland      0.0263      0.0680    56.877  2166086

[232 rows x 5 columns]

In [4]:
#@title To'g'ri javob
df.columns = ['davlat','zichlik_km','zichlik_mi','aholi','maydoni']
df.head(3)

         davlat  zichlik_km  zichlik_mi     aholi  maydoni
rank
1         Macau  21946.4667  56841.3487   658.394       30
2        Monaco  19755.5000  51166.7450    39.511        2
3     Singapore   8305.1915  21510.4461  5896.686      710

## Yuqoridagi jadval dunyo davlatlarining aholi zichligi bo'yicha reytingini ko'rsatadi. 
DF indeksi sifatida davlatning zichlik reytingi olingan (aholi eng zich yashaydigan davlatlar yuqorida).

**Ustunlar:**

`davlat` - Davlat nomi

`zichlik_km` - har 1 kv.km. ga to'g'ri keluvchi aholi soni

`zichlik_mi` - har 1 kv.milyaga to'g'ri keluvchi aholi soni (milya - AQSh masofa o'lchov birligi)

`aholi` - 2021-yilga ko'rsa aholi soni (ming)

`maydoni` - davlat maydoni (kv.km)

### 2-VAZIFA. DF oxiridan 10 ta qator chiqaring.

In [5]:
# JAVOBNI SHUYERGA YOZING
df.tail(10)

                davlat  zichlik_km  zichlik_mi      aholi  maydoni
rank
223             Guyana      3.6765      9.5220    790.326   214969
224      French Guiana      3.6685      9.5015    306.448    83534
225           Suriname      3.6125      9.3564    591.800   163820
226          Australia      3.3526      8.6832  25788.215  7692024
227            Iceland      3.3335      8.6338    343.353   103000
228            Namibia      3.1338      8.1166   2587.344   825615
229     Western Sahara      2.3003      5.9577    611.875   266000
230           Mongolia      2.1286      5.5129   3329.289  1564110
231   Falkland Islands      0.2902      0.7517      3.533    12173
232          Greenland      0.0263      0.0680     56.877  2166086

### 3-VAZIFA. DF dan 10, 20, 100, 200-indekslarda turgan davlatlarni alohida DF ko'rinishida chiqaring.

In [11]:
# JAVOBNI SHUYERGA YOZING
df.reindex([3,10,50,100,200])

              davlat  zichlik_km  zichlik_mi     aholi  maydoni
rank
3          Singapore   8305.1915  21510.4461  5896.686      710
10           Bermuda   1149.8148   2978.0204    62.090       54
50    American Samoa    276.8844    717.1307    55.100      199
100         Slovakia    111.3592    288.4203  5460.721    49037
200      New Zealand     17.9713     46.5457  4860.643   270467

### 4-VAZIFA. Davlatlar orasida `Uzbekistan`, `Hong-Kong`, `Antartica` borligini tekshiring

In [9]:
# JAVOBNI SHUYERGA YOZING
qidruv = ['Uzbekistan', 'Hong-Kong', 'Antartica']
df1 = df[['davlat']].values
df1 = pd.DataFrame(df1)
df1[df1.values == qidruv]

              0
132  Uzbekistan

### 5-VAZIFA.
#### 5.1 DFning `davlat` nomli ustunini uning indeksi qilib belgilang. 
#### 5.2 `davlat` ustunini tashlab yuboring.
#### 5.3 DFni davlat nomi bo'yicha tartiblang

In [ ]:
# JAVOBNI SHUYERGA YOZING
son = df['davlat']
df2 = df.drop('davlat',axis=1)
df2.index = son
df2 = df2.sort_index(ascending=True)
df2

                   zichlik_km  zichlik_mi      aholi  maydoni
davlat
Afghanistan           61.0757    158.1862  39835.428   652230
Albania               99.9351    258.8318   2872.933    28748
Algeria               18.7328     48.5179  44616.624  2381741
American Samoa       276.8844    717.1307     55.100      199
Andorra              165.2885    428.0971     77.355      468
...                       ...         ...        ...      ...
Wallis and Futuna     78.1268    202.3483     11.094      142
Western Sahara         2.3003      5.9577    611.875   266000
Yemen                 57.7509    149.5749  30490.640   527968
Zambia                25.1400     65.1125  18920.651   752612
Zimbabwe              38.6229    100.0333  15092.171   390757

[232 rows x 4 columns]

In [ ]:
#@title Kutilayotgan natija

### 6-VAZIFA. DF dan `Uzbekistan`, `Malaysia`, `South Korea`, `France` davlatlari `aholi` va `maydoni` ustunlari bilan alohida DF ko'rinishida ajratib oling.

In [ ]:
# JAVOBNI SHUYERGA YOZING
df3 = df2.reindex(['Uzbekistan', 'Malaysia', 'South Korea', 'France'])
df3 = df3.reindex(columns=['aholi', 'maydoni'])
df3

                 aholi  maydoni
davlat
Uzbekistan   33935.763   447400
Malaysia     32776.194   330803
South Korea  51305.186   100210
France       65426.179   551695

In [ ]:
#@title O'xshash natija (boshqa davlatlar uchun)

                 aholi  maydoni
davlat
Singapore     5896.686      710
North Korea  25887.041   120538
Germany      83900.473   357114
Kazakhstan   18994.962  2724900

### 7-VAZIFA. Asl DFning `aholi` ustuni qiymatlarini 1000 ga ko'paytiring.

In [ ]:
# JAVOBNI SHUYERGA YOZING
mu = lambda x: x*1000
df4 = df2.apply(mu, axis=0)
df4

                   zichlik_km  zichlik_mi       aholi     maydoni
davlat
Afghanistan           61075.7    158186.2  39835428.0   652230000
Albania               99935.1    258831.8   2872933.0    28748000
Algeria               18732.8     48517.9  44616624.0  2381741000
American Samoa       276884.4    717130.7     55100.0      199000
Andorra              165288.5    428097.1     77355.0      468000
...                       ...         ...         ...         ...
Wallis and Futuna     78126.8    202348.3     11094.0      142000
Western Sahara         2300.3      5957.7    611875.0   266000000
Yemen                 57750.9    149574.9  30490640.0   527968000
Zambia                25140.0     65112.5  18920651.0   752612000
Zimbabwe              38622.9    100033.3  15092171.0   390757000

[232 rows x 4 columns]

In [ ]:
#@title Kutilgan natija

DF ni `aholi` ustuni bo'yicha kamayish tartibida tahlang va aholisi eng kam 10 ta davlatni chiqaring.

In [ ]:
# JAVOBNI SHUYERGA YOZING
df4.rank(method = 'min').sort_values(by='aholi').head(10)

                           zichlik_km  zichlik_mi  aholi  maydoni
davlat
Vatican City                    220.0       220.0    1.0      1.0
Tokelau                         135.0       135.0    2.0      4.0
Niue                             15.0        15.0    3.0     23.0
Falkland Islands                  2.0         2.0    4.0     70.0
Montserrat                       72.0        72.0    5.0     14.0
Saint Pierre and Miquelon        42.0        42.0    6.0     22.0
Saint Barthelemy                207.0       207.0    7.0      5.0
Nauru                           211.0       211.0    8.0      5.0
Wallis and Futuna               102.0       102.0    9.0     15.0
Tuvalu                          206.0       206.0   10.0      7.0

### 8-VAZIFA. DFni `maydoni` bo'yicha reytinglang (rank) va reytinglarni yangi `rank` ustuniga yozing.

In [ ]:
# JAVOBNI SHUYERGA YOZING
df2['rank'] = df2['maydoni'].rank()
df2

                   zichlik_km  zichlik_mi      aholi  maydoni   rank
davlat
Afghanistan           61.0757    158.1862  39835.428   652230  192.0
Albania               99.9351    258.8318   2872.933    28748   89.0
Algeria               18.7328     48.5179  44616.624  2381741  223.0
American Samoa       276.8844    717.1307     55.100      199   20.0
Andorra              165.2885    428.0971     77.355      468   38.0
...                       ...         ...        ...      ...    ...
Wallis and Futuna     78.1268    202.3483     11.094      142   15.0
Western Sahara         2.3003      5.9577    611.875   266000  155.0
Yemen                 57.7509    149.5749  30490.640   527968  183.0
Zambia                25.1400     65.1125  18920.651   752612  194.0
Zimbabwe              38.6229    100.0333  15092.171   390757  172.0

[232 rows x 5 columns]

In [ ]:
#@title Kutilgan natija

                   zichlik_km  zichlik_mi       aholi  maydoni   rank
davlat
Afghanistan           61.0757    158.1862  39835428.0   652230  192.0
Albania               99.9351    258.8318   2872933.0    28748   89.0
Algeria               18.7328     48.5179  44616624.0  2381741  223.0
American Samoa       276.8844    717.1307     55100.0      199   20.0
Andorra              165.2885    428.0971     77355.0      468   38.0
...                       ...         ...         ...      ...    ...
Wallis and Futuna     78.1268    202.3483     11094.0      142   15.0
Western Sahara         2.3003      5.9577    611875.0   266000  155.0
Yemen                 57.7509    149.5749  30490640.0   527968  183.0
Zambia                25.1400     65.1125  18920651.0   752612  194.0
Zimbabwe              38.6229    100.0333  15092171.0   390757  172.0

[232 rows x 5 columns]

#### `Uzbekistan`, `United Kingdom`, `Indonesia` davlatlari alohida df ko'rinishida chiqaring

In [ ]:
# JAVOBNI SHUYERGA YOZING
df2.reindex(['United Kingdom','Uzbekistan','Indonesia'])

                zichlik_km  zichlik_mi       aholi  maydoni   rank
davlat
United Kingdom    280.8033    727.2805   68207.116   242900  153.0
Uzbekistan         75.8511    196.4542   33935.763   447400  176.0
Indonesia         145.1046    375.8210  276361.783  1904569  218.0

In [ ]:
#@title O'xshash natija (boshqa davlatlar uchun)

### 9-VAZIFA. DFni `davlat` nomi bo'yicha tartiblang.

In [ ]:
# JAVOBNI SHUYERGA YOZING
df2

                   zichlik_km  zichlik_mi      aholi  maydoni   rank
davlat
Afghanistan           61.0757    158.1862  39835.428   652230  192.0
Albania               99.9351    258.8318   2872.933    28748   89.0
Algeria               18.7328     48.5179  44616.624  2381741  223.0
American Samoa       276.8844    717.1307     55.100      199   20.0
Andorra              165.2885    428.0971     77.355      468   38.0
...                       ...         ...        ...      ...    ...
Wallis and Futuna     78.1268    202.3483     11.094      142   15.0
Western Sahara         2.3003      5.9577    611.875   266000  155.0
Yemen                 57.7509    149.5749  30490.640   527968  183.0
Zambia                25.1400     65.1125  18920.651   752612  194.0
Zimbabwe              38.6229    100.0333  15092.171   390757  172.0

[232 rows x 5 columns]

In [ ]:
#@title Kutilgan natija

                zichlik_km  zichlik_mi       aholi  maydoni   rank
davlat
Afghanistan        61.0757    158.1862  39835428.0   652230  192.0
Albania            99.9351    258.8318   2872933.0    28748   89.0
Algeria            18.7328     48.5179  44616624.0  2381741  223.0
American Samoa    276.8844    717.1307     55100.0      199   20.0
Andorra           165.2885    428.0971     77355.0      468   38.0

#### DFdan 10,50,100,200-o'rinda turgan davlatlarni alohida DF ko'rinishida chiqaring

In [ ]:
# JAVOBNI SHUYERGA YOZING
data = df2[df2['rank'].values==[50.0]]
data

           zichlik_km  zichlik_mi    aholi  maydoni  rank
davlat
Hong Kong   6841.3134  17719.0017  7552.81     1104  50.0

In [ ]:
#@title O'xshash natija (boshqa qatorlar uchun)

                              zichlik_km  zichlik_mi     aholi  maydoni  rank
davlat
Belize                           17.6310     45.6643  404914.0    22966  82.0
French Polynesia                 67.8018    175.6066  282530.0     4167  60.0
Guadeloupe                      245.7125    636.3955  400020.0     1628  53.0
United States Virgin Islands    300.3631    777.9405  104226.0      347  29.0

### 10-VAZIFA. Quyidagi davlatlarning `aholi` sonini oddiy son ko'rinishida chiqaring:
- `Malaysia`
- `Nigeria`
- `Nepal`
- `Italy`

In [ ]:
# JAVOBNI SHUYERGA YOZING
data1 = df2.reindex(['Malaysia','Nigeria','Nepal','Italy'])
data1['aholi'].values[0]

32776.194

In [ ]:
#@title o'xshash natija (`Uzbekistan` uchun)

33935763.0